body {

    background-image: url('grafika/drozdzowka.jpg'); 
    background-size: 10%; 
    /*Tu chyba logiczne, ustawiamy jako tło strony
    i skalujemy je żeby miało 10% poczatkowej wielkosci*/

}


#main {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    width: 1100px;
    height: 600px;

    background: rgba(173, 173, 173, 0.4);

    border-top: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 3px solid rgba(0,0,0,0.2);
    border-right: 3px solid rgba(0,0,0,0.2);

}

.main-container {

    width: 1060px;
    height: 560px;

    padding: 20px;

}

.bottom-container {

    width: 1060px;
    height: 390px;

    display: flex;
    flex-flow: row;

}

.middle {

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); 
    /*Dzieki temu przemieszczamy diva tak ze teraz środek diva znajduje się
    idealnie na środku, bez tego na środku jest lewy górny róg diva
    
    Literatura na ten temat:

    [PL] http://webmaster.helion.pl/index.php/css3-transformacje
    [ENG] https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translate
    
    */

}

.red.block {

    background: rgba(255, 107, 107, 0.5);

}

.doughnut.block {

    background-image: url('grafika/paczki_bl_2.jpg');
    background-size: cover;
    opacity: 0.8;

}

.white.block {

    background: rgba(255, 255, 255, 0.5);

}

.red.block.header {

    width: 1060px;
    height: 150px;

    margin-bottom: 20px;

}

.red.block.header h1 {

    width: 900px; 

    text-align: center;

    padding: 0;
    margin: 0;

}

.red.block.aside {

     width: 190px; 
     height: 390px; 

     margin-right: 20px;

    flex: 0 1 auto;

}

.article-container {

    height: 390px;

    flex: 1 1;

}

.flexbox {

    display: flex;
    flex-flow: row;

    width: inherit;
    height: inherit;

}

.doughnut.block.box {

    width: 40%;

    flex: 0 1 auto;

}

.red.block.box {

    flex: 1 1;

}

.white.block.article-content {

    width: calc(100% - 40px);
    height: calc(100% - 40px);

    position: relative;

    margin: 20px;

    top: -100%;

}